<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32000">
		<setting label="32000" type="lsep"/>
		<setting type="sep"/>
                <setting label="32001" type="labelenum" id="poster_size" values="w92|w154|w185|w342|w500|w780|original" default="original"/>
                <setting label="32002" type="labelenum" id="backdrop_size" values="w300|w780|w1280|original" default="original"/>
                <setting label="32003" type="bool" id="overwrite" default="false"/>
                <setting label="32004" type="action" action="RunScript($CWD/tmdb.collections.py)" option="close"/>
    </category>
</settings>
